{% include base_path %}

{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: " list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Teaser -->
    {% if include.type == "grid" and teaser %}
    <div class="archive__item-teaser">
      <img src={% if teaser contains "://" %} "{{ teaser }}" {% else %} "{{ teaser | prepend: " /images/" | prepend:
        base_path }}" {% endif %} alt="">
    </div>
    {% endif %}

    <!-- Title -->
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a>
      <!--<a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>-->
      {% elsif post.url %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% else %}
      <p>{{ title }}</p>
      {% endif %}
    </h2>

    {% if post.read_time %}
    <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    <!-- Venue -->
    {% if post.collection == 'teaching' %}
    <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.collection == 'publications' %}
    <p>
      {{post.review_status}} in <i>{{ post.venue }}</i>
      {% if post.issue %}, {% endif %}
      {{ post.issue | default: "" }}
      {% if post.date %}, {% endif %}
      {{ post.date | default: "1900-01-01" | date: "%Y" }}
    </p>
    {% elsif post.date %}
    <p class="page__date">
      <strong>
        <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
        {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}
      </strong>
      <time datetime="{{ post.date | default: " 1900-01-01" | date_to_xmlschema }}">
        {{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}
      </time>
    </p>
    {% endif %}

    <!-- Authors with links -->
    <p><strong>Authors:</strong>
      {% for author in post.authors %}
      {% if author.url %}
      <a href="{{ author.url }}">{{ author.name }}</a> {% if forloop.last == false %}, {% endif %}
      {% else %}
      {{ author.name }} {% if forloop.last == false %}, {% endif %}
      {% endif %}
      {% endfor %}
    </p>

    <!-- Links to paper, code ... -->
    <p>
      <strong>Links:</strong>
      {% if post.doi %}
      <a href="https://doi.org/{{ post.doi }}">DOI</a>.
      {% endif %}
      {% if post.project_url %}
      <a href="{{ post.project_url }}">Project page</a>.
      {% endif %}
      {% if post.paperurl %}
      <a href=" {{ post.paperurl }} ">Paper</a>.
      {% endif %}
      {% if post.slidesurl %}
      <a href="{{ post.slidesurl }}">Slides</a>.
      {% endif %}
      {% if post.code %}
      <a href="{{ post.code }}">Code</a>.
      {% endif %}
      {% if post.data %}
      <a href="{{ post.data }}">Data</a>.
      {% endif %}
      {% if post.supp %}
      <a href="{{ post.supp }}">Supplementary</a>.
      {% endif %}
      {% if post.video %}
      <a href="{{ post.video }}">Vedio</a>.
      {% endif %}
      {% if post.reference %}
      <button class="copy-link" onclick="copyToClipboard(event, '{{ post.reference }}')">Reference</button>.
      {% endif %}
      {% if post.bib %}
      <button class="copy-link" onclick="copyToClipboard(event, '{{ post.bib }}')">Bib</button>.
      {% endif %}
    </p>

    <!-- Read more information -->
    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">
      {{ post.excerpt | markdownify | remove: '
    <p>' | remove: '</p>' }}
    <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong>
    </p>
    {% endif %}

  </article>
</div>